<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">A propos</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Ressources et règlements</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Emplois</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Confiance et sécurité</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Politique d'accessibilité</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Explorez</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Ecrire un avis</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Ajouter un lieu</a>
          </li>
          <li>
            <a href="#!" class="text-dark">S'inscrire</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Assistance</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Utilisez nos solutions</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Propriétaires</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Avantage business</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Accéder à notre API de contenu</a>
          </li>
          <li>
            <a href="#!" class="text-dark">S'affilier</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Réseaux social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Linkedin</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">ZELP.com</a>
  </div>
  <!-- Copyright -->
</footer>